@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;400&display=swap');

body, html{
    font-family: 'Mitr', sans-serif !important;
    font-weight: 200;
    font-size: 1.1em;
}

.th200{ font-weight: 200; }
.th400{ font-weight: 400; }
a {
   text-decoration: none !important;
}

.sweet-alert{
    font-family: 'Mitr', sans-serif !important;
}

body .bg-main{
    background-color: rgb(180, 180, 180);
}

.menu-item{
    padding: 10px 10px 10px 20px;
    margin-bottom: 5px;
}

.menu-item:hover{
    background-color: rgb(247, 247, 247);
    border-radius: 0px 30px 30px 0px;
}

.menu-item-active{
    background-color: rgb(244, 244, 244);
    border-radius: 0px 30px 30px 0px;
}

.menu-item-active:hover{
    background-color: rgb(228, 228, 228);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background:rgb(218, 218, 218);
    color: #000;
}

a.nav-link{
    color: rgb(94, 94, 94);
}