@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;400&display=swap');

body, html{
    font-family: 'Mitr', sans-serif !important;
    font-weight: 200;
    font-size: 1.1em;
}

.th200{ font-weight: 200; }
.th400{ font-weight: 400; }
a {
   text-decoration: none !important;
}

.sweet-alert{
    font-family: 'Mitr', sans-serif !important;
}

body .bg-main{
    background-color: rgb(180, 180, 180);
}